html,
body {
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  background: url(../img/bg.jpg) round ;
  background-size: contain;

}
.form-login {
  width: 100vw;;
  max-width: 60ch;
  padding: 15px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}
.logo-img{
  display: flex;
  justify-content: center;
}
.password{
  padding-left: 1.6rem !important;
}
#mostrar{
  position:absolute;
  top: 1.4em;
  right: 2em;
  cursor: pointer;
}

input[type="email"]:not(:placeholder-shown):invalid {
  color: red;
  outline-color: red;
}

