@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
html,
* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	font-family: "Roboto", sans-serif;
	box-sizing: border-box;
}
body {
	background-color: black;
	height: 100vh;
	/* color: #fff; */
}
section {
	border-bottom: 8px solid rgb(20, 20, 20);
	padding: 70px 45px;
	margin-bottom: 0;
	color: #fff;
}
input[type="email"]:not(:placeholder-shown):invalid {
	color: red;
	outline-color: red;
}
li-icon {
	margin: 0 4px 0 -2px;
}
.user {
	position: relative;
	bottom: -138px;
	width: 225px;
	border: 1px solid rgba(0, 0, 0, 0.2);
}
.conteudo-usuario:hover {
	background: rgba(0, 0, 0, 0.4);
}
.conteudo-usuario {
	background-color: #fff;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	width: 100%;
	display: flex;
	flex-direction: column;
	text-align: left;
	padding: 0.7rem;
	color: rgba(0, 0, 0, 0.6);
}
.label {
	color: black;
}
#btn-text {
	margin-left: 0.8rem;
}
.nav-link {
	color: #fff;
}
.index {
	margin: 0 0 0.8rem;
	background: #fff;
	border-radius: 0.8rem;
	display: flex;
	flex-direction: column;
	border: 1px solid rgba(0, 0, 0, 0.2);
}
.btn-input {
	align-items: center;
	border: none;
	font-weight: 600;
	display: inline-flex;
	justify-content: center;
	min-width: 6.4rem;
	max-width: 480px;
	background-color: hsla(0, 0%, 100%, 0);
	color: rgba(0, 0, 0, 0.6);
	border-radius: 0.8rem;
}
.btn-input:hover {
	background: rgba(0, 0, 0, 0.4);
}
.inputs {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	border: none;
	margin-bottom: 0.8rem;
	flex-wrap: nowrap;
}
#buton-publi {
	margin: 0.4rem 0;
	flex-grow: 1;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 0.8rem !important;
	padding: 1rem 2rem;
	max-height: 3rem;
	line-height: 1.5;
	align-items: center;
	cursor: pointer;
	font-weight: 600;
	display: inline-flex;
	color: rgba(0, 0, 0, 0.6);
}
.publi {
	display: flex;
	align-items: center;
	margin: 8px 16px 0 16px;
}
.feed-index {
	display: flex;
	border-radius: 0.8rem;
	margin-bottom: 0.8rem;
	flex-direction: column;
}
.chat {
	display: grid;
	height: 100vh;
	place-content: center;
	align-items: center;
	grid-template-columns: auto auto auto;
	justify-content: space-between;
	gap: 20px;
}
.botao1 {
	width: 200px;
	border-radius: 0.8rem;
	background-color: green;
	font-size: 18px;
	padding: 15px 20px;
	color: antiquewhite;
}
#perfilDoUsuario h1 {
	text-align: center;
}
#perfilDoUsuario {
	text-align: justify;
}
.info {
	display: grid;
	grid-auto-flow: column;
	place-items: start;
	gap: 52px;
}
.botoes-destaques {
	display: grid;
	height: 100%;
	align-items: end;
}
.telas-destaques {
	display: flex;
	justify-content: space-between;
	gap: 10px;
}
.telas {
	background-color: #fff;
	width: 190px;
	height: 120px;
	border-radius: 0.8rem;
	border: 1px solid rgba(0, 0, 0, 0.2);
}
.botoes {
	width: 200px;
	border-radius: 0.8rem;
	height: 45px;
	background-color: #fff;
	font-size: 18px;
	text-align: center;
	color: antiquewhite;
}
.modal-content {
	color: #222;
}
.flex-container {
	display: flex;
	align-items: center;
}
.nav-perfil {
	width: 64px;
	justify-content: end;
}
.navbar-collapse {
	flex-grow: 0;
}
.pagformulario {
	height: 100vh;
	background: url(../img/bg.jpg) round;
	background-size: contain;
}
.carousel-item {
	max-height: 133vh;
}
.content {
	justify-content: space-between;
	margin: 0 auto;
	max-width: 1100px;
}

.text {
	padding: 0 3rem 0 0;
	width: 52%;
}
.text h1 {
	line-height: 1.1;
	margin-bottom: 0.5rem;
	font-size: 3.125rem;
}

.text h2 {
	margin: 0.75em 0 0.25em;
	font-size: 1.625rem;
	font-weight: 400;
}
.reverse {
	flex-flow: row-reverse;
}
.reverse .text {
	padding: 0 0 0 3rem;
}
.card-img {
	width: 48%;
	margin: 0 -3% 0 0;
}
.reverse .card-img {
	width: 48%;
	margin: 0 0 0 -3%;
}
.card-img img {
	max-width: 100%;
}
.card-body p {
	color: black;
}
.card-title {
	color: #222;
}
.form-login {
	width: 100vw;
	max-width: 60ch;
	padding: 15px;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 5px;
}
.password {
	padding-left: 1.6rem !important;
}
.foto-usuario {
	border-radius: 50%;
}
.perfil-content {
	display: grid;
	height: 100vh;
	place-content: center;
	align-items: center;
	grid-template-columns: auto auto;
	justify-content: space-between;
	gap: 20px;
}
.perfil-identificacao {
	flex-direction: column;
	background-color: #f3f2ef;
	width: 225px;
	height: 100%;
	border: 0;
	border-radius: 8px;
	align-content: center;
	padding-top: 10px;
	flex-wrap: wrap;
}
.destaques {
	width: 800px;
	height: 576px;
	background-color: #f3f2ef;
	padding: 10px 25px;
	border: 0;
	border-radius: 8px;
}
.container {
	max-width: 1128px;
	margin: 0 auto 0 auto;
}
.perfil-nav {
	border-radius: 50%;
}
.navbar-brand {
	margin-right: 0;
}
.nome-usuario1 {
	text-transform: capitalize;
	font-size: 1.6rem;
	color: black;
	font-weight: 600;
	margin-top: 25px;
}
#logo {
	width: 80px;
	height: 40px;
}
#mostrar {
	cursor: pointer;
}
@media only screen and (max-width: 800px) {
	section {
		padding: 20px 2%;
	}
	.carousel {
		margin-top: 45px;
	}
	.carousel-item {
		max-height: 84vh;
	}
	.nav-mobile {
		flex-direction: row;
	}
	.content {
		flex-direction: column;
	}
	.text {
		margin: 0;
		padding: 0;
		text-align: center;
		width: 100%;
	}
	.reverse .text {
		margin: 0;
		padding: 0;
		text-align: center;
		width: 100%;
	}
	.card-img {
		margin-top: 1em;
		max-width: 73%;
		width: 100%;
	}
	.reverse .card-img {
		margin-top: 1em;
		max-width: 73%;
		width: 100%;
	}
	.text h1 {
		line-height: 1.1;
		margin-bottom: 0.5rem;
		font-size: 1.625rem;
	}
	.text h2 {
		margin: 0.75em 0 0.25em;
		font-size: 1.125rem;
		font-weight: 400;
	}
	.foto-usuario {
		border-radius: 50%;
	}
	.perfil-content {
		display: grid;
		height: 100vh;
		align-items: center;
		row-gap: 34px;
		margin-top: 84px;
		grid-template-columns: auto;
		place-content: start;
	}
	.perfil-identificacao {
		background-color: #f3f2ef;
		width: auto;
		height: auto;
		border: 0;
		border-radius: 0.8rem;
		padding: 10px 25px;
	}
	.destaques {
		width: auto;
		height: auto;
		background-color: #f3f2ef;
		padding: 10px 25px;
		border: 0;
		border-radius: 0.8rem;
	}
	.navbar-nav .dropdown-menu {
		position: absolute;
	}
	.chat {
		display: grid;
		height: 100vh;
		align-items: center;
		row-gap: 34px;
		margin-top: 84px;
		grid-template-columns: auto;
		place-content: start;
	}
	.telas {
		width: 100%;
	}
	.info {
		grid-auto-flow: row;
	}
	.user,
	.nome-usuario {
		display: none;
	}
}
